@media(Max-width: 400px)
{
   #Clock
   {
    height:250px;
    width:250px;
   }

   .clock img {
    width: 250px;
    border-radius: 25px;
  }

  .Hours {
    width: 5px;
    height: 87px;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 38px;
    left: 122px;
    transform-origin: bottom;
  }
  
  .Minutes {
    width: 3px;
    height: 92px;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 33px;
    left: 123px;
    transform-origin: bottom;
  }
  
  .Seconds {
    width: 2px;
    height: 94px;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 31px;
    left: 124px;
    transform-origin: bottom;
  }

  .Alarm
  {
    width:250px;
    height:250px;
    margin: 25px 0px;
  }

  .head{
    margin:0px;
  }

  .Alarm .head img {
    width: 25px;
  }

  .Alarm .head h1 {
    margin-top: 0px;
    font-size: 1rem;
  }
  
  .alarm input {
    border-radius: 12px;
    height: 25px;
    width: 160px;
    font-size: 1rem;
    margin: 5px 5px;
    padding: 0px 10px;
  }

  .alarm
  {
    margin: 10px 0px;
  }
}