* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:#540375;
  justify-content: center;
  font-family: 'Ubuntu',sans-serif;
  overflow: hidden;
}

.container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#Clock {
  height: 500px;
  width: 500px;
  position: relative;
  border-radius: 25px;
  box-shadow: 5px 3px 5px black;
}

.clock img {
  width: 500px;
  border-radius: 25px;
}

.Hours {
  width: 10px;
  height: 150px;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  top: 100px;
  left: 245px;
  transform-origin: bottom;
}

.Minutes {
  width: 7px;
  height: 200px;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  left: 245px;
  transform-origin: bottom;
}

.Seconds {
  width: 4px;
  height: 185px;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  top: 64px;
  left: 248px;
  transform-origin: bottom;
}

.Alarm {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 25px;
  box-sizing: border-box;
  margin-left:25px;
  box-shadow: 5px 3px 5px black;
}

.head{
  margin-top:50px;
}
.Alarm .head img {
  width: 70px;
  display: block;
  margin: auto;
}

.Alarm .head h1 {
  margin-top: 25px;
  text-align: center;
  text-shadow: 5px 5px 5px  purple;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.alarm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

.alarm input {
  border-radius: 12px;
  height: 25px;
  width: 275px;
  font-size: 1rem;
  margin: 20px 0px;
  padding: 0px 10px;
}

.alarm button {
  display: block;
  border-radius: 25px;
  padding: 0px 10px;
  width: 100px;
  height: 30px;
  background-color: blue;
  color:white;
  font-size: 1rem;
  margin: 20px 0px;
  cursor: pointer;
}

footer
{
  position:absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: white;
  color: black;
}